/*----- CCS Component Hero-Search -----*/

h4 {
  text-align: center;
  margin-bottom: 0;
  font-size: 1.3em;
  color: #0000007a;
}

input:focus {
  outline-offset: unset !important;
  outline: none !important;
}

.search {
  margin: 10px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 196px;
  height: 16px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}

.search-result li:hover {
  background-color: #607d8b;
}

.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: white;
}
.search-result li a:active {
  color: white;
}
#search-box {
  width: 200px;
  height: 24px;
}

ul.search-result {
  margin: 0;
  padding-left: 0;
}
